## Challenge #16: Parsing Out the New-line Character

We received some text data and that includes an embedded line-feed character.


The objective is to remove the new line character, convert the date-time string to a date-time formatted field and then do some renaming per the sample output.

Source: https://community.alteryx.com/t5/Weekly-Challenge/Challenge-16-Parsing-Out-the-New-line-Character/td-p/36745

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("./challenge_16_input.csv", sep=",")
pd.options.display.max_colwidth = 100
df

                                                  Field_1  Field_2    Field_3
0  Mary had a little lamb\nwhose fleece was white as snow      123  16-JUN-01
1                        I do not like green eggs and ham      456  25-DEC-10

In [15]:
df = df.replace('\n',' ', regex=True)
df

                                                 Field_1  Field_2    Field_3
0  Mary had a little lamb whose fleece was white as snow      123  16-JUN-01
1                       I do not like green eggs and ham      456  25-DEC-10

In [18]:
df["Field_3"] = pd.to_datetime(df["Field_3"], format="%d-%b-%y")
df.rename(columns = {"Field_1": "Poem", "Field_2": "Poem_ID", "Field_3": "Poem_Read_Date"}, inplace = True)
df

,Poem,Poem_ID,Poem_Read_Date
0,Mary had a little lamb whose fleece was white as snow,123,2001-06-16
1,I do not like green eggs and ham,456,2010-12-25