## Challenge #2: Preparing Delimited Data

Original challenge: https://community.alteryx.com/t5/Weekly-Challenge/Challenge-2-Preparing-Delimited-Data/td-p/36622

Many products will export textual data with delimiters such as quotes. This is done so that strings can contain delimiters or control characters within them. Having more than one type of delimiter can be hard for ETL programs to interpret.  In the input text file, there are two different delimiters (double quotes, single quotes) and they surround different data types.

Use Alteryx or Python to strip out the delimiters as superfluous and format the data as represented in the output.

In [1]:
import pandas as pd

In [23]:
c_input = pd.read_csv(".Challenge 002/challenge_2_input.csv")
c_input

In [26]:
#expand the column width so strings don't get truncated

pd.options.display.max_colwidth = 100
c_input

                                                                   Field_1
0  "Mary had a little lamb whose fleece was white as snow",123,'16-JUN-01'
1                       "I do not like green eggs and ham",456,'25-DEC-10'

In [27]:
#split Field_1 into 3 fields using a comma as delimiter

c_input[["Poem", "Poem_ID", "Poem_Read_Date"]] = c_input["Field_1"].str.split(",", expand = True)
c_input

,Field_1,Poem,Poem_ID,Poem_Read_Date
0,"""Mary had a little lamb whose fleece was white as snow"",123,'16-JUN-01'","""Mary had a little lamb whose fleece was white as snow""",123,'16-JUN-01'
1,"""I do not like green eggs and ham"",456,'25-DEC-10'","""I do not like green eggs and ham""",456,'25-DEC-10'

In [28]:
del c_input["Field_1"]

In [30]:
#replace double quotes

c_input["Poem"] = c_input["Poem"].str.replace('"', '')
c_input

,Poem,Poem_ID,Poem_Read_Date
0,Mary had a little lamb whose fleece was white as snow,123,'16-JUN-01'
1,I do not like green eggs and ham,456,'25-DEC-10'

In [36]:
#convert string to datetime format

c_input["Poem_Read_Date"] = pd.to_datetime(c_input["Poem_Read_Date"])
c_input

,Poem,Poem_ID,Poem_Read_Date
0,Mary had a little lamb whose fleece was white as snow,123,2001-06-16
1,I do not like green eggs and ham,456,2010-12-25