## Challenge #130: Is There an Echo in Here?

Original challenge: https://community.alteryx.com/t5/Weekly-Challenge/Challenge-130-Is-There-an-Echo-in-Here/td-p/206817

You have a source system that doesn't seem to be working quite as expected. The system will frequently take any given word and duplicate it within a string. You job is to clean it up! Below we have a few sample phrases that are indicative of the system's problem. Find all words that have duplicate consecutive words and reduce the duplication to a single word again!

(Advanced Users: There is a one tool solution for this!)

In [43]:
import pandas as pd

In [46]:
df = pd.read_csv(".Challenge 130/challenge_130_input.csv")
pd.options.display.max_colwidth = 100
df

                                                                   Phrase
0                                     It's going to be a great great day!
1                I will will be going to the grocery store this afternoon
2  How much wood could a woodchuck chuck if a woodchuck could chuck wood?
3                                              The the quick brown fox...

In [47]:
df["Phrase"] = df["Phrase"].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1', case=False)
df

                                                                   Phrase
0                                           It's going to be a great day!
1                     I will be going to the grocery store this afternoon
2  How much wood could a woodchuck chuck if a woodchuck could chuck wood?
3                                                  The quick brown fox...