## Compare Data Sets

This week’s challenge is inspired by @SeanAdams’ mastery of the Field Info Tool! Can you follow in his footsteps to master the tool and use it in building a workflow that can compare two incoming data sets to see if they contain the same columns? Be sure to be sensitive to string case and any columns that have underscores substituted for spaces (i.e. “Store name” should match to “store_name”)!

In [7]:
import pandas as pd

In [8]:
df1 = pd.read_csv('.\challenge_072_input1.csv', nrows = 0)
df1

Empty DataFrame
Columns: [Record ID, First, Last, ADD, ADD 2, ZIP, Z 4, Source]
Index: []

In [9]:
df2 = pd.read_csv('.\challenge_072_input2.csv', nrows = 0)
df2

Empty DataFrame
Columns: [record_id, first, last, add, add_2, zip, z_4, is_deleted]
Index: []

In [10]:
# Create a list of the headers with the sorted() method and store it in DataFrame

headers1 = pd.DataFrame({'dataset1': sorted(df1)})
headers1

    dataset1
0        ADD
1      ADD 2
2      First
3       Last
4  Record ID
5     Source
6        Z 4
7        ZIP

In [11]:
headers2 = pd.DataFrame({'dataset2': sorted(df2)})
headers2

     dataset2
0         add
1       add_2
2       first
3  is_deleted
4        last
5   record_id
6         z_4
7         zip

In [12]:
# Turns all string into lowercase and replaces spaces with underscores to match headers2

headers1['join'] = headers1['dataset1'].map(lambda x: x.lower())
headers1['join'] = headers1['join'].map(lambda x: x.replace(' ', '_'))
headers1

    dataset1       join
0        ADD        add
1      ADD 2      add_2
2      First      first
3       Last       last
4  Record ID  record_id
5     Source     source
6        Z 4        z_4
7        ZIP        zip

In [13]:
# Creates an outer join

df_join = headers1.merge(headers2, how = 'outer', left_on='join', right_on='dataset2')
df_join

    dataset1       join    dataset2
0        ADD        add         add
1      ADD 2      add_2       add_2
2      First      first       first
3       Last       last        last
4  Record ID  record_id   record_id
5     Source     source         NaN
6        Z 4        z_4         z_4
7        ZIP        zip         zip
8        NaN        NaN  is_deleted

In [15]:
df_join.drop(labels=['join'], axis = 1, inplace = True)
df_join

    dataset1    dataset2
0        ADD         add
1      ADD 2       add_2
2      First       first
3       Last        last
4  Record ID   record_id
5     Source         NaN
6        Z 4         z_4
7        ZIP         zip
8        NaN  is_deleted