In [69]:
import pandas as pd

In [77]:
df = pd.read_csv(r"C:\Users\Luisa Bez\Documents\Python Scripts\Alteryx challenges\challenge_10_input.csv", parse_dates=["TIMESTAMP", "Time_Now"])
df.head()

  Registrant ID           TIMESTAMP            Time_Now
0   HPNZGSDMQMX 2014-07-09 11:07:47 2014-07-14 08:24:35
1   F5NZRZ3YVRD 2014-07-09 08:40:07 2014-07-14 08:24:35
2   FHNBTNMV3MP 2014-07-08 12:26:56 2014-07-14 08:24:35
3   ZHN7W97Z955 2014-07-08 13:26:38 2014-07-14 08:24:35
4   ZKNWRVBTXZ2 2014-07-08 13:25:42 2014-07-14 08:24:35

In [78]:
df["Datediff"] = (df["Time_Now"] - df["TIMESTAMP"])
df.head()

  Registrant ID           TIMESTAMP            Time_Now        Datediff
0   HPNZGSDMQMX 2014-07-09 11:07:47 2014-07-14 08:24:35 4 days 21:16:48
1   F5NZRZ3YVRD 2014-07-09 08:40:07 2014-07-14 08:24:35 4 days 23:44:28
2   FHNBTNMV3MP 2014-07-08 12:26:56 2014-07-14 08:24:35 5 days 19:57:39
3   ZHN7W97Z955 2014-07-08 13:26:38 2014-07-14 08:24:35 5 days 18:57:57
4   ZKNWRVBTXZ2 2014-07-08 13:25:42 2014-07-14 08:24:35 5 days 18:58:53

In [79]:
def parse_date_strings(dataframe):
    dataframe = dataframe["Datediff"]
    return [dataframe.components.days, dataframe.components.hours, dataframe.components.minutes, dataframe.components.seconds]

In [83]:
df[["Days", "Hours", "Minutes","Seconds"]] = df.apply(parse_date_strings, axis = 1, result_type = "expand")
df.drop(["Datediff"], axis = 1, inplace = True)
df

,Registrant ID,TIMESTAMP,Time_Now,Days,Hours,Minutes,Seconds
0,HPNZGSDMQMX,2014-07-09 11:07:47,2014-07-14 08:24:35,4,21,16,48
1,F5NZRZ3YVRD,2014-07-09 08:40:07,2014-07-14 08:24:35,4,23,44,28
2,FHNBTNMV3MP,2014-07-08 12:26:56,2014-07-14 08:24:35,5,19,57,39
3,ZHN7W97Z955,2014-07-08 13:26:38,2014-07-14 08:24:35,5,18,57,57
4,ZKNWRVBTXZ2,2014-07-08 13:25:42,2014-07-14 08:24:35,5,18,58,53
5,HGNYD3V77CQ,2014-07-07 19:13:24,2014-07-14 08:24:35,6,13,11,11
6,HJN6JRBWR3Z,2014-07-08 11:39:52,2014-07-14 08:24:35,5,20,44,43
7,KNNHPH2YTPX,2014-07-07 14:35:10,2014-07-14 08:24:35,6,17,49,25
8,JPNX3YQ5GV3,2014-07-08 10:35:18,2014-07-14 08:24:35,5,21,49,17
9,ZFN8QQ3RSP7,2014-07-07 20:00:46,2014-07-14 08:24:35,6,12,23,49
10,ZFN8QQ3RSP7,2014-07-09 13:31:24,2014-07-14 08:24:35,4,18,53,11
11,GTNVDYQPLXT,2014-07-08 13:26:46,2014-07-14 08:24:35,5,18,57,49
12,ZPNZYQRYRP9,2014-07-07 14:13:24,2014-07-14 08:24:35,6,18,11,11
13,N5N8T5CKSXY,2014-07-07 17:06:37,2014-07-14 08:24:35,6,15,17,58
14,HNNDMTZHK7R,2014-07-08 13:01:44,2014-07-14 08:24:35,5,19,22,51
15,ZDNF7FBYH54,2014-07-08 08:41:20,2014-07-14 08:24:35,5,23,43,15
16,N9NJ275XPMZ,2014-07-09 11:21:16,2014-07-14 08:24:35,4,21,3,19
17,KMNC8ML97ZK,2014-07-07 17:10:34,2014-07-14 08:24:35,6,15,14,1
18,KMNC8ML97ZK,2014-07-07 17:42:25,2014-07-14 08:24:35,6,14,42,10
19,JYNLNB87C73,2014-07-07 14:55:58,2014-07-14 08:24:35,6,17,28,37
20,N4N4QCSJWQX,2014-07-07 15:48:03,2014-07-14 08:24:35,6,16,36,32
21,P8N4TSH8SL3,2014-07-08 16:37:45,2014-07-14 08:24:35,5,15,46,50
22,LHNKDQDD8G3,2014-07-07 20:01:11,2014-07-14 08:24:35,6,12,23,24
23,LHNKDQDD8G3,2014-07-09 13:31:40,2014-07-14 08:24:35,4,18,52,55
24,PJNT3NKM6F4,2014-07-07 19:45:35,2014-07-14 08:24:35,6,12,39,0
25,G9NNGTMNLPJ,2014-07-08 08:44:18,2014-07-14 08:24:35,5,23,40,17
26,G9NNGTMNLPJ,2014-07-08 16:54:40,2014-07-14 08:24:35,5,15,29,55
27,F2NCWKFQ5FS,2014-07-09 11:12:11,2014-07-14 08:24:35,4,21,12,24
28,MDNSZPY6MLY,2014-07-08 16:17:20,2014-07-14 08:24:35,5,16,7,15
29,K7NW774HZMJ,2014-07-07 14:15:57,2014-07-14 08:24:35,6,18,8,38
30,K7NW774HZMJ,2014-07-07 19:13:16,2014-07-14 08:24:35,6,13,11,19
31,N6ND7Z47PGT,2014-07-08 11:40:25,2014-07-14 08:24:35,5,20,44,10
32,N6ND7Z47PGT,2014-07-08 12:26:32,2014-07-14 08:24:35,5,19,58,3
33,N6ND7Z47PGT,2014-07-08 12:26:46,2014-07-14 08:24:35,5,19,57,49
34,Z2NJRFDVDN6,2014-07-08 10:35:28,2014-07-14 08:24:35,5,21,49,7
35,VWN6ZZ99L3Q,2014-07-08 14:47:01,2014-07-14 08:24:35,5,17,37,34
36,GMN8T99TPMR,2014-07-07 18:20:02,2014-07-14 08:24:35,6,14,4,33
37,NTNS4MJ672W,2014-07-07 18:06:19,2014-07-14 08:24:35,6,14,18,16
38,V7NLG9GJ2B9,2014-07-09 12:52:35,2014-07-14 08:24:35,4,19,32,0
39,LGNFMNWML96,2014-07-09 11:37:13,2014-07-14 08:24:35,4,20,47,22
40,NMNP8S4HMDC,2014-07-08 14:34:21,2014-07-14 08:24:35,5,17,50,14
41,J6NT6YM6BYF,2014-07-09 13:08:53,2014-07-14 08:24:35,4,19,15,42
42,VBNHT8DPRD5,2014-07-08 15:11:35,2014-07-14 08:24:35,5,17,13,0
43,onsite095,2014-07-09 12:54:48,2014-07-14 08:24:35,4,19,29,47
44,HVN9P6WBWPD,2014-07-07 17:38:41,2014-07-14 08:24:35,6,14,45,54
45,KMNW7B2ZXV4,2014-07-08 13:13:04,2014-07-14 08:24:35,5,19,11,31